{% load static %} 
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
	<script src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<style type="text/css">
			table td{ 
					
					max-width:800px; 
					word-wrap:
					break-word; 
					text-overflow:ellipsis; 
					white-space:nowrap; 
					overflow:hidden; 
					
				}
				table td:hover{ 
				
					white-space:normal; 
					overflow:au

</style> 
</head>
<body>
<a href=/index>返回主页面</a>
<a href=/search_word>返回搜索页面</a>

   <div  style="padding-left:250px;padding-right:250px"  >
     
		{%   for good in page  %}
		<table>
		   <tr>
		      <td style="text-align:center;"><h5>{{good.2}}</h5></td>
		   </tr>
		   <tr>
		      <td>{{   good.1  }}
		      <span  style="color:red">收藏次数：{{good.collection_nums}}
		      报错次数：{{good.delete_flag}} </span>
		     
		       </td><br><br>
		       <td><button type="button" id="{{good.0}}" onclick="submit_sc_func(this)">点击收藏</button></td>
		       <td><button type="button" id="{{good.0}}" onclick="del_sc_func(this)">点击报错</button></td>
		   </tr>
		</table>
		<!-- 
		<h4 style="text-align:center;">{{good.question}}</h4>
		<span style="padding-left:100px">{{   good.contents  }}</span> <br><br>
	     -->
		{%   endfor %}
   		

<ul class="pagination"> 
{# 如果当前页还有上一页 #} 

{% if page.has_previous %} 
<li><a href="?index={{page.previous_page_number}}">上一页</a></li> 
{% else %} 
<li class="disabled"> <a href="#">上一页</a> </li> 
{% endif %} 
{% for page_number in paginator.page_range %} 
{# 获取当前页的页码 #} 
{% if page_number == page.number %} 

{# 如果是当前页的话，选中 #}
 <li class="active"> <a href="?index={{page_number}}">{{page_number}}</a> </li> 
 {% else %} 
 <li> <a href="?index={{page_number}}">{{page_number}}</a> </li> 
 {% endif %} 
 {% endfor %} 
 
 {% if page.has_next %} 
 <li> <a href="?index={{page.next_page_number}}">下一页</a> </li> 
 {% else %}
 
 <li class="disabled"> <a href="#">下一页</a> </li> 
 {% endif %} 
 </ul> 		
</div>
</body>
</html>